*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-botao-editar: #1EA19A;
    --bg-botao-excluir: #C32121;
    --borda-dados-filme: #000000;

}
.linha-filme{
    border: .5px solid var(--borda-dados-filme);
}
.linha-id{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
    border-right: 1px solid var(--borda-dados-filme);
}
.text-center{
    border-right: 1px solid var(--borda-dados-filme);
}
#data-filme{
    border-right: 1px solid var(--borda-dados-filme);
}
.botao-excluir{
    width: 6vh;
    height: 6vh;
    background-color: var(--bg-botao-excluir);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15vh;
}
.icone-lixeira{
    width: 40px;
    height: 40px;
}

.botao-editar{
    width: 6vh;
    height: 6vh;
    background-color: var(--bg-botao-editar);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38vh;
    margin-top: -6vh;
}
.icone-lapis{
    width: 35px;
    height: 35px;
}